*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    gap: 10px;
    padding-top: 10px;
}

.box{
    background: crimson;
}
/* 
@media (max-width: 900px){
    .wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
} */


/* Loader style */

.loader{
    width: 100%;
    height: 100vh;
    background: rgb(0,36,29);
    background: linear-gradient(90deg, rgba(0,36,29,1) 0%, rgba(93,161,21,1) 0%, rgba(35,120,18,1) 0%, rgba(16,16,179,1) 0%, rgba(28,147,17,1) 0%, rgba(0,255,12,1) 0%, rgba(11,212,14,1) 0%, rgba(43,87,20,1) 0%, rgba(33,222,15,1) 0%, rgba(219,33,33,1) 54%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #000;
    border-radius: 50%;
    position: relative;
}

.ring:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border: 5px solid yellow;
    border-radius: 50%;
    border-top-color: transparent;
}